[Unit]
Description=Domserver
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=-/usr/bin/docker kill domserver
ExecStartPre=-/usr/bin/docker rm domserver
ExecStartPre=/usr/bin/docker pull domjudge/domserver
ExecStartPre=/bin/sh -c "cd /sys/fs/cgroup/cpuset && mkdir domjudge ../memory/domjudge && for i in cpus mems; do cat cpuset.$i > domjudge/cpuset.$i; done"
ExecStart=/usr/bin/docker run \
    --name domserver \
    -p 4321:80 \
    --net bridge \
    -v /var/run/mysqld:/var/run/mysqld \
    -v /var/www/apps/domserver/submissions:/opt/domjudge/domserver/submissions \
    -v /var/www/apps/domserver/patches:/opt/domjudge/domserver/patches:ro \
    --env-file /var/www/apps/domserver/domserver-env.txt \
    --env-file /var/www/apps/domserver/mysql-password.txt \
    domjudge/domserver
ExecStartPost=/usr/bin/docker exec domserver /opt/domjudge/domserver/patches/apply.sh
ExecStop=/usr/bin/docker stop domserver
