[Unit]
Description=Judgehost
After=docker.service domserver.service
Requires=docker.service domserver.service

[Service]
TimeoutStartSec=10min

ExecStartPre=-/usr/bin/docker kill judgehost
ExecStartPre=-/usr/bin/docker rm judgehost
ExecStartPre=/usr/bin/docker pull domjudge/judgehost
ExecStart=/usr/bin/docker run \
    -h docker-judgehost \
    --name judgehost \
    --net bridge \
    -v /dev:/dev \
    -v /var/www/apps/domserver/log:/opt/domjudge/judgehost/log \
    -v /var/www/apps/domserver/judgings:/opt/domjudge/judgehost/judgings \
    -v /sys/fs/cgroup/cpuset/domjudge:/sys/fs/cgroup/cpuset/domjudge \
    -v /sys/fs/cgroup/memory/domjudge:/sys/fs/cgroup/memory/domjudge \
    --env-file /var/www/apps/domserver/judgehost-env.txt \
    --env-file /var/www/apps/domserver/judgehost-password.txt \
    --link domserver \
    --privileged \
    --ipc host \
    --log-driver journald \
    domjudge/judgehost

Restart=on-failure
RestartSec=300

# Usually judgehost does not exit when asked to. Just kill it.
ExecStop=/usr/bin/docker stop -t 1 judgehost
# 137 = exited via SIGKILL
SuccessExitStatus=137
